__pycache__/
.env
.python-version
.roku-deploy-staging/**
*.orig
build
CHANGELOG.md
components/tests/rooibos/TestScene.brs
logs/**
node_modules/**
out
package-lock.json
source/tests/rooibos/rooibosFunctionMap.brs
.DS_Store
.vscode/

